<h2 class="result__title">Text Analysis</h2>
<div class="result__container">
  <div class="result__section result__polarity">
    <h3 class="result-section__title">Polarity</h3>
    <p>Globaly, the polarity of the text is considered as
      <span class="result__score">{{{score_tag}}}</span>.</p>
  </div>
  <div class="result__section result__agreement">
    <h3 class="result-section__title">Agreement</h3>
    <p>Between the sentiments detected,
      <span class="result__score">{{{agreement}}}</span>.</p>
  </div>
  <div class="result__section result__subjectivity">
    <h3 class="result-section__title">Subjectivity</h3>
    <p><span class="result__score">{{{subjectivity}}}</span>.</p>
  </div>
  <div class="result__section result__confidence">
    <h3 class="result-section__title">Confidence</h3>
    <p>From 0 to 100, the confience associated with the sentiment analysis
      performed on the text is:
      <span class="result__score">{{{confidence}}}</span>.</p>
  </div>
  <div class="result__section result__irony">
    <h3 class="result-section__title">Irony</h3>
    <p><span class="result__score">{{{irony}}}.</span></p>
  </div>
</div>